/* -----------------------------------------------------------------------------
 * This file contains all application-wide Sass variables.
 * ---------------------------------------------------------------------------- */

 /* Color Palette
---------------------------------------------------------------*/
$white:           #ffffff !default;
$yellow:          #f7ce23 !default;
$blue:            #4269ea !default;
$green:           #14a214 !default;
$red:             #e82b2b !default;
$dark-gray:       #333333 !default;
$light-gray:      #8d8d8d !default;
