@import '../../assets/scss/variables.scss';

.header {
    background: $blue;
    padding: 10px;
    position: fixed;
    width: 100%;
    top: 0;
    box-sizing: border-box;
    z-index: 11;

    :global {
        .icon {
            color: $white;
            cursor: pointer;
            display: inline-block;
            font-size: 18px;
            width: 32px;
            height: 32px;
            line-height: 32px;
            text-align: center;
        }
    }
}