@import '../../../assets/scss/variables.scss';

.icon {
    font-size: 14px;
    cursor: default;
}

/* Sort Modal */
:global(.ReactModal__Content) {
    :global(.modal-content) {
        
        .option {
            cursor: default;
            position: relative;
            padding: 9px 0 5px 30px;

            &::after {
                width: 18px;
                height: 18px;
                content: "";
                display: block;
                border: 1px solid #337ab8;
                border-radius: 50%;
                position: absolute;
                left: 0px;
                top: 50%;
                margin-top: -9px;
            }
            :global(.selected) {
                &::before {
                    width: 8px;
                    height: 8px;
                    content: "";
                    display: block;
                    background-color: #337ab8;
                    border-radius: 50%;
                    position: absolute;
                    left: 6px;
                    top: 50%;
                    margin-top: -3px;
                }
            }
        }
    }
    
}