@import '../../../assets/scss/variables.scss';

.filter {
    border-left: 1px solid #ccc;
}
/* Range Slider */
:global{
    .input-range {
        width: 70% !important;
        margin: 20px auto 10px;
        
        .input-range__label--min, .input-range__label--max {
            display: none;
        }
        .input-range__slider {
            background: $white;
            
        }
    }
}